EA_BASE_URL=https://environment.data.gov.uk/flood-monitoring
NH_BASE_URL=https://api.data.nationalhighways.co.uk/roads/v2.0
OPEN_METEO_BASE_URL=https://api.open-meteo.com
WEST_COUNTRY_BBOX=-5.5,50.1,-1.5,52.0
CONNECT_TIMEOUT=0.5
TOTAL_TIMEOUT=2.0
RETRIES=3

